In [11]:
import sqlite3 
  
# Connection with the DataBase ##
# 'library.db' 
connection = sqlite3.connect("Python_DB_one.db") 
cursor = connection.cursor() 
  
# SQL piece of code Executed 
# SQL piece of code Executed 
cursor.executescript(""" 
    CREATE TABLE people( 
        firstname, 
        lastname, 
        age 
    ); 
   
    CREATE TABLE book( 
        title, 
        author, 
        published 
    ); 
   
    INSERT INTO 
    book(title, author, published) 
    VALUES ( 
        'Dan Clarke''s GFG Detective Agency', 
        'Sean Simpsons', 
        1987 
    ); 
    """) 
  
sql = """ 
SELECT COUNT(*) FROM book;"""
  
cursor.execute(sql) 
  
# The output in fetched and returned 
# as a List by fetchall() 
result = cursor.fetchall() 
print(result) 
  
sql = """ 
SELECT * FROM book;"""
  
cursor.execute(sql) 
  
result = cursor.fetchall() 
print(result) 
  
# Changes saved into database 
connection.commit() 
# Connection closed(broken)  
# with DataBase 
connection.close()

[(1,)]
[("Dan Clarke's GFG Detective Agency", 'Sean Simpsons', 1987)]

In [19]:
import sqlite3 
  
# Connection created with the 
# database using sqlite3.connect() 
connection = sqlite3.connect("Python_DB_one.db") 
cursor = connection.cursor() 
  
# Create Table command executed 
sql = """ 
        CREATE TABLE employee_List (  
        ID INTEGER PRIMARY KEY,  
        fname VARCHAR(20),  
        lname VARCHAR(30),  
        gender CHAR(1),  
        dob DATE);"""
cursor.execute(sql) 
  
# Single Tuple inserted 
sql = """ 
        INSERT INTO employee_List 
        VALUES (1007, "Will", "Olsen", "M", "24-SEP-1865");"""
cursor.execute(sql) 
  
# Multiple Rows inserted 
List = [(1008, 'Raju', 'Boss', 'M', "27-NOV-1874"), 
        (1198, 'Sakib', 'Rose', 'F', "27-DEC-1884"), 
        (1918, 'Royal', 'Bassen', "F", "17-NOV-1894")] 
  
connection. executemany( 
        "INSERT INTO employee_List VALUES (?, ?, ?, ?, ?);", List) 
print("Method-1 \n") 
  
# Multiple Rows fetched from 
# the Database 
for row in connection.execute('SELECT * FROM employee_List ORDER BY ID'): 
        print (row) 
  


  
connection.commit() 
connection.close()

OperationalError: table employee_List already exists